.header{
    height: 113px;
    white-space: nowrap;
}
.header__logo{
    padding-top: 22px;
    line-height: 91px;
}
.headermenu{
    line-height: 94px;
    font-size: 17px;
}
.headermenu__small800{
    display: none;
}
.headermenu__list{
    margin: 0;
    text-align: right;
}
.headermenu__item{
    display: inline-block;
    padding-right: 25px;
    cursor: pointer;
}
.headeritem__icon{
    line-height: 87px;
    vertical-align: top;
}
.header__select{
    margin-top: 21px;
    font-size: 13px;
}

.select__cart{
    width: 229px;
    height: 35px;
    border: 1px solid #d6d6d6;
    cursor: pointer;
}
.select__basket{
    width: 229px;
    height: 35px;
    border: 1px solid #d6d6d6;
    background: #fafafa;
    border-top: none;
    cursor: pointer;
}
.selectcart__text{
    display: inline-block;
    color: #949393;
    line-height: 34px;
    padding-left: 7px;
    letter-spacing: -0.02em;
}
.selectcart__icon{
    display: inline-block;
    color: #949393;
    line-height: 29px;
    padding-right: 13px;
}
.selectbasket__icon{
    display: inline-block;
    line-height: 50px;
    text-align: left;
    padding-left: 7px;
}
.selectbasket__img{
    display: inline-block;
    text-align: left;
}
.basketlink{
    display: inline-block;
    line-height: 37px;
}
.basket__aitem{
    display: inline-block;
    text-decoration: none;
    color: #949393;
    text-transform: uppercase;
    padding-right: 2px;
    padding-left: 4px;
    letter-spacing: -0.05em;
}
.basket__a{
    display: inline-block;
    text-decoration: none;
    color: #949393;
    text-transform: uppercase;
    padding-right: 14px;
    padding-left: 3px;
    letter-spacing: 0.05em;
}
.basket__a:hover{
    text-decoration: underline;
}
.divide{
    display: inline-block;
    color: #949393;
}

@media screen and (max-width: 1050px) {

}
@media screen and (max-width: 980px){
    .headermenu__list{
        padding-left: 20px;
    }
    .select__cart{
        width: 200px;
    }
    .select__basket{
        width: 200px;
    }
}
@media screen and (max-width: 800px) {
    .header{
        height: 155px;
    }
    .header__menu{
        display: none;
    }
    .headermenu__small800{
        display: inherit;
        float: left;
        width: 100%;
    }
    .headermenusmall800{
        border: 1px solid #fd926d;
        background: #fd926d;
        color: white;
        height: 40px;
        cursor: pointer;
    }
    .headermenusmall__text{
        display: inline-block;
        line-height: 38px;
        text-transform: uppercase;
        padding-left: 10px;
    }
    .headermenusmall__icon{
        display: inline-block;
        font-size: 22px;
        line-height: 38px;
        padding-right: 10px;
    }
    .select__cart{
        width: 229px;
    }
    .select__basket{
        width: 229px;
    }
}