*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/*.header-menu{*/
    /*width: 50%;*/

/*}*/
.head-menu-block {
    width: 270px;
    padding: 24px 0 0;
    font-size: 11px;
}
.head-menu-block .center-menu{
    padding: 3px 6px 0 6px;
    height: 22px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 20px 0 0;
    width: 237px;
    z-index: 11;
}
.center-menu #btb{
    background: url(img/dropdown-black.png);
    width: 17px;
    height: 18px;
    float: right;
}
.center-menu span{
    padding: 2px 0 0 2px;
    display: block;
    font-weight: bold;
}
.head-menu-block ul.header-it-list{
    margin-top: 0;
    z-index: 10;
    position: absolute;
    border-radius: 3px;
    width: 249px;
    padding: 0;
    border: 1px solid #000;
    display: none;
}
ul.header-it-list{
    padding: 6px 9px;
    list-style-type: none;
}