.account{
    float: right;
    font-size: 11px;
    line-height: 28px;
}
.account__list{
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
.account__item{
    display: inline-block;
    color: white;
    padding: 0 16px;
    border-right: 1px solid #444444;
    border-left: 1px solid #444444;
}
.account__item_border{
    border: none;
}

.account__dropdown{
    text-transform: uppercase;
}
.account__itemlink{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
