.cart{
    width: 216px;
    font-size: 13px;
}
.cart__select{
    border: 1px solid #d6d6d6;
    color: #949393;
    padding: 10px;
    cursor: pointer;
}

.cart__selecttext{
    float: left;
}

.cart__selecticon{
    float: right;
}
.cart__basket{
    background: #fafafa;
    border: 1px solid #d6d6d6;
    border-top: none;
    color: #949393;
    padding: 6px;
    cursor: pointer;
}
.cart__basketicon{
    float: left;
}
.cart__basketlink{
    float: right;
    padding: 5px;
}
.cart__basketitemlink{
    color: #949393;
    text-transform: uppercase;
    text-decoration: none;
}
.cart__basketitemlink:hover{
    text-decoration: underline;
}
.cart__basketline{

}

