* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.container {
    background: white;
}
header {
    overflow: hidden;
}
.header-line {
    background: black;
    color: white;
    overflow: hidden;
    height: 32px;
}
.custom-care {
    line-height: 2.1em;
    margin-left: 6.6%;
    float: left;
}
.custom-care p {
    font-size: 0.73em;
}
.account {
    height: 32px;
    float: right;
    background: black;
    font-size: 0.8em;
    width: 19%;
    overflow: hidden;
}
.acc-men {
    width: 100%;
    height: 32px;
}
.menu-li {
    float: left;
    list-style: none;
    margin: 0 2%;
    height: 32px;
    width: 24%;
}
.menu-li a {
    width: 100%;
    height: 100%;
}

.menu-li span {
    color: white;
    height: 100%;
}
.my-acc {
    width: 50%;
    height: 32px;
    white-space: nowrap
}

.my-search {
    width: 9%;
}
.header-menu-1 {
    width: 60px;
    color: #ffffff;
    font-size: 1em;
    height: 32px;
    background: black;
}
.menu-li__icon {
    font-size: 1.4em;
    margin: 0 4%;
    padding-right: 3%;
}

/*.header-menu-1 ul.change_list {*/
    /*margin-top: 0;*/
    /*z-index: 10;*/
    /*background: black;*/
    /*position: absolute;*/
    /*width: 60px;*/
    /*padding: 0;*/
    /*border: 1px solid #ffffff;*/
    /*display: none;*/
/*}*/

ul.change_list li {
    padding: 5px 9px;
    list-style-type: none;
    border-top: 1px solid #ffffff;
}

ul.change_list li:hover {
    cursor: pointer;
    background: #636363;
}


.account a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    line-height: 2.5em;
}

.logo-line {
    width: 98%;
    height: 113px;
}

.logo {
    padding-top: 3%;
    float: left;
    margin-left: 6%;
}

.logo img {
    width: 100%;
}

.logo-big {
    display: inherit;
}

.logo-sm {
    display: none;
}

.header-menu {
    width: 50%;
    float: left;
    height: 93px;
    margin-top: 0.5%;
    padding-left: 1%;
    overflow: hidden;
    position: absolute;
    right: 20%;
}

.header-menu li {
    list-style: none;
    width: 20%;
    float: left;
    height: 93px;
}
.header-menu li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 5.5em;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.header-menu li a i{
    padding-left: 5%;
    font-size: 0.9em;
    vertical-align: text-top;
}

.your-cart {
    float: right;
    margin-top: 1.4%;
    height: 68px;
    width: 18%;
}

.delivery_block {
    width: 100%;
    color: #949393;
    font-size: 0.96em;
    height: 34px;

}

.delivery_block .delivery_list {
    margin-top: 7px;
    height: 34px;
    cursor: pointer;
    width: 100%;
    z-index: 11;
    background: white;
    border: 1px solid #dcdcdc;
}

.delivery_list span {
    padding: 1%;
    display: block;
    line-height: 2em;
}
.delivery_list span i{
    float: right;
    padding-right: 5%;
    line-height: 1.4em;
}
.delivery_block ul.carts_list {
    margin-top: 0;
    z-index: 10;
    background: #ededed;
    position: absolute;
    width: 226px;
    padding: 0;
    border: 1px solid #dcdcdc;
    display: none;
}

ul.carts_list li {
    padding: 6px 9px;
    list-style-type: none;
    border-top: 1px solid #dcdcdc;
}

ul.carts_list li:hover {
    cursor: pointer;
    background: #fff;
}

.delivery_block_2 {
    overflow: hidden;
    width: 100%;
    color: #949393;
    font-size: 0.96em;
    height: 34px;
    border: 1px solid #dcdcdc;
    border-top: 0;
    background: #fafafa;
}

.delivery_block_2 img {
    margin-top: 6px;
    float: left;
    margin-left: 8px;
}

.delivery_block_2 a {
    text-decoration: none;
    display: block;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    color: #949393;
}

.delivery_block_2 a:hover {
    text-decoration: underline;
}

.delivery_block_2sm {
    display: none;
}

.header-menu-sm {
    display: none;
}

.header-slider {
    height: 550px;
}

.header-slider img {
    width: 100%;
}

.content {
    overflow: hidden;
}

.content-line {
    font-size: 0.8em;
    background: #ededed;
    height: 58px;
    overflow: hidden;
}

.email-sm {
    display: none;
}
.find-us-sm{
    display: none;
}
.email {
    display: inline-block;
    color: #7c7c7c;
    float: left;
    padding-top: 1.2%;
    padding-left: 6%;
    width: 26%;
}

.email-button {
    width: 12.5%;
    height: 30px;
    background: #fe926e;
    box-shadow: 0 3px 2px #dd6b44;
    cursor: pointer;
    border: none;
    margin-left: -1.1%;
    transition: all .3s linear;
}

.email-button i {
    color: white;
    background: #fe926e;
}

.input-form {
    width: 53%;
    height: 30px;
    border: 1px solid white;
}

.find-us {
    float: right;
    overflow: hidden;
    color: #7c7c7c;
    height: 58px;
    width: 28.7%;
}

.find-us p {
    display: block;
    padding-top: 6%;
    float: left;
    margin-right: 2%;
}

.icons {
    float: left;
    height: 58px;
    width: 50px;
    background: #f7f7f7;

}

.center-ic {
    background: #ededed;
}

.icons a {
    color: #6b6b6b;
    text-decoration: none;
    transition: all .2s linear;
    display: block;
    width: 100%;
    height: 100%;
}

.icons i {
    font-size: 1.4em;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 41%;

}

.icons a:hover {
    background: #fe926e;
    color: white;
}

.content-img-info {
    height: 432px;
    margin-bottom: 3%;
}

.img-info {
    width: 83%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5%;
    position: relative;
    margin-bottom: 3%;

}

.img-info img {
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    width: 100%;
}

.img-info img:hover {
    opacity: .75;
}

.img-in1 {
    float: left;
    width: 50%;
}

.img-in2 {
    float: left;
    width: 50%;
}

.img-in3 {
    float: left;
    width: 25%;
}

.img-info-men {
    float: left;
    position: relative;
    display: block;
    width: 25%;
}

.shop-now {
    position: absolute;
    left: 9%;
    top: 71%;
    width: 45%;
    height: 32px;
    background: #4fafa1;
    font-size: 0.8em;
    line-height: 1em;
    text-align: center;
    color: white;
    transition: scale 0.2s ease;
    cursor: pointer;
}

.shop-now:hover {
    transform: scale(1.1);
}

.shop-now span {
    display: block;
    padding-top: 7.5%;
}

.shop-now i {
    padding: 0 5%;
}

.content-scroll {
    overflow: hidden;
}

.scroll-header {
    overflow: hidden;
    width: 100%;
}

.scroll-menu {
    margin-left: 7.5%;
    width: 75%;
    height: 50px;
    float: left;
}

.scroll-menu li {
    font-size: 0.9em;
    float: left;
    list-style: none;
    height: 50px;
    width: 14%;
    text-align: center;
    line-height: 2.7em;

}

.scroll-menu li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
}
.scroll-menu li i{
    display: none;
}

.scroll-menu li a:hover {
    background: #fd926d;
    color: white;
}

.scroll-arrow {
    float: right;
    overflow: hidden;
    width: 7.5%;
    margin-right: 9.3%;
}

.scroll-arrow li {
    float: left;
    list-style: none;
    width: 38%;
    height: 50px;
    background: #f2f2f2;
    text-align: center;
}

.arrow-w-l {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/scr-arrow.png") 60% center no-repeat;
}

.arrow-w-l:hover {
    background: #fd926d url("../img/scr-arrow-w.png") center no-repeat;

}

.arrow-w-r {
    background: url("../img/scr-arrow-r.png") 60% center no-repeat;
    display: block;
    width: 100%;
    height: 100%;

}

.arrow-w-r:hover {
    background: #fd926d url("../img/scr-arrow-w-r.png") center no-repeat;

}

.cont-scroll-line {
    width: 100%;
    background: #fd926d;
    overflow: hidden;
    height: 485px;
    padding-top: 2.5%;
}

.prod-scroll {
    background: #f7f7f7;
    width: 17.1%;
    height: 422px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    float: left;
    position: relative;
    transition: all 0.3s ease;
}

.prod-scroll img {
    width: 99.9%;
}

.prod-scroll p {
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: center;
}

.prod-scroll:hover {
    transform: scale(1.1);

}
.load-more{
    display: none;
}

.sales-logo {
    overflow: hidden;
    margin-top: 1%;
}

.logo-sale {
    margin-left: 5.5%;
}

.sales-items {
    width: 79%;
    overflow: hidden;
    margin: 2% auto 3%;
}

.prod-sale {
    background: #f7f7f7;
    width: 22%;
    height: 422px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    float: left;
    position: relative;
}

.sale-block {
    position: absolute;
    left: 0;
    top: 0;
}

.prod-sale img {
    width: 99.9%;
}

.prod-sale p {
    margin-top: 3%;
    margin-bottom: 1%;
    text-align: center;
}

.buy-now {
    margin-top: 5%;
    width: 50%;
    height: 34px;
    background: #fe926e;
    font-size: 0.7em;
    line-height: 3em;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 3px 2px #cb7459;
}

.buy-now a {
    width: 100%;
    text-decoration: none;
    color: white;
}

.buy-now:hover {
    background: rgba(254, 146, 110, 0.75);
}

.buy-now i {
    padding-left: 5%;
}

.hr-line1 {
    border-bottom: 1px solid #e8e8e8;
    margin-left: 5%;
    margin-top: 7%;
    width: 32.5%;
    float: left;
}

.hr-line2 {
    border-bottom: 1px solid #e8e8e8;
    margin-right: 5%;
    float: right;
    margin-top: 7%;
    width: 32.5%;
}

.brand-header {
    font-size: 0.9em;
    overflow: hidden;
}

.fb {
    float: left;
    width: 16%;
    text-align: center;
}

.brand-line1 {
    padding-top: 0.7%;
    width: 42%;
    border-bottom: 1px solid #e8e8e8;
    float: left;
}

.brand-line2 {
    width: 42%;
    border-bottom: 1px solid #e8e8e8;
    float: right;
    padding-top: 0.7%;
}

.brand-line3 {
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
}

.name-br {
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.name-br img {
    width: 11%;
}

.about-lookshop {
    width: 85%;
    color: #414141;
}

.about-lookshop span {
    display: block;
    font-size: 1.7em;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

.about-lookshop p {
    line-height: 1.5em;
    font-size: 0.94em;
    text-align: center;
    color: #999999;
}

footer {
    overflow: hidden;
}

footer li {
    list-style: none;
}

.carts-line {
    margin-top: 2%;
    background: #f7f7f7;
}

.carts {
    overflow: hidden;
    width: 50%;
    height: 61px;
    padding-top: 1.5%;
}

.carts span {
    float: left;
    font-size: 0.94em;
    padding-top: 0.7%;
    color: #999999;
}

.img-carts {
    float: left;
    padding-left: 1%;
}

.footer-content {
    background: #ededed;
    height: 209px;
    overflow: hidden;
}

.footer-content h2 {
    font-size: 1.1em;
    padding-bottom: 7%;
}

.footer-content li {
    line-height: 1.5em;
    font-size: 0.8em;
}

.footer-content li a {
    width: 100%;
    color: #827e7d;
    text-decoration: none;
    display: block;
}

.footer-content li a:hover {
    text-decoration: underline;
}

.foot-cust {
    width: 14%;
    float: left;
    padding-top: 2%;
    margin-left: 8.5%;
}

.foot-info {
    width: 9%;
    float: left;
    padding-top: 2%;
    margin-left: 4.5%;
}

.foot-camp {
    width: 11%;
    float: left;
    padding-top: 2%;
    margin-left: 4.5%;
}

.foot-store {
    width: 6%;
    float: left;
    padding-top: 2%;
    margin-left: 4.5%;
}

.foot-social {
    float: left;
    padding-top: 2%;
    margin-left: 4.5%;
    width: 13%;
    overflow: hidden;
}

.foot-social i {
    float: left;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20%;
}

.foot-img {
    float: right;
    padding-top: 2%;
    margin-right: 8%;
}

.footer-line {
    background: black;
    overflow: hidden;
    height: 68px;
    font-size: 0.8em;
    color: white;

}
.foot-menu-640{
    display: none;
}
.foot-l-menu {
    height: 60px;
    margin-left: 7.5%;

}

.foot-l-menu li a:hover {
    text-decoration: underline;
}

.footer-line li {
    float: left;
    width: 18%;
    height: 15px;
    padding-left: 3%;
    border-right: 1px solid #8d8d8d;
    margin-top: 2%;
}

.footer-line a {
    display: block;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: #8d8d8d;
}

.footer-left-menu {
    width: 67%;
    float: left;
    padding-top: 1%;
}

.footer-line h4 {
    float: right;
    font-weight: normal;
    line-height: 1em;

}

.foot-right {
    float: right;
    margin-right: 8%;
    color: #8d8d8d;
    padding-top: 2%;
}

.social-icon {
    margin: 2% 4%;
    width: 30px;
    height: 30px;
    float: left;
    background: #4c4c4b;
    border-radius: 50%;
}

.social-icon a {
    display: block;
    width: 100%;
    height: 100%;
    transition: all .2s linear;
    border-radius: 50%;
}

.social-icon a:hover {
    background: #fe926e;
    color: white;
    border-radius: 50%;
}



@media screen and (max-width: 768px) {
    .header-line {
        height: 30px;
    }

    .custom-care {
        margin-left: 4%;
    }

    .account {
        height: 30px;
        width: 40%;
    }

    .acc-men {
        font-size: 0.9em;
        width: 80%;
    }

    .logo-line {
        height: 230px;
        margin: 0;
        width: 100%;
    }

    .header-menu {
        display: none;
    }

    .your-cart {
        margin-top: 3%;
        margin-right: 3%;
        width: 32%;
    }

    .logo-big {
        width: 130%;
        margin-top: 8%;
    }

    .delivery_block_2sm {
        display: none;
    }

    .header-menu-sm {
        display: inherit;
    }

    .header-menu-sm {
        margin-left: 0;
        float: left;
        margin-top: 5%;
        overflow: hidden;
        width: 100%;
        font-size: 1.2em;
        height: 50px;
        border: 1px solid #fd926d;
        background: #fd926d;
        cursor: pointer;
        color: white;
    }

    .header-menu-sm p {
        padding-top: 2%;
        float: left;
        padding-left: 2%;
    }

    .header-menu-sm i {
        font-size: 1.4em;
        margin-right: 3%;
        float: right;
        padding-top: 1.6%;
    }

    .header-slider {
        height: 317px;
    }

    .content-line {
        font-size: 0.8em;
        background: #ededed;
        height: 50px;
        overflow: hidden;
    }

    .email {
        padding-top: 1.5%;
        padding-left: 2%;
        width: 36%;
    }

    .find-us {
        height: 50px;
        width: 30%;
    }

    .find-us p {
        padding-top: 9%;
    }

    .icons {
        width: 43px;
        height: 50px;
    }

    .content-img-info {
        height: 301px;
        margin-bottom: 5%;
        margin-top: 3%;
    }

    .img-info {
        width: 96%
    }

    .img-in1 {
        width: 50%;
    }

    .img-in2 {
        width: 50%;
    }

    .img-in3 {
        width: 25%;
    }

    .img-info-men {
        width: 25%;
    }

    .shop-now {
        left: 10%;
        width: 48%;
        top: 70%;
        font-size: 0.7em;
        height: 26px;
    }

    .scroll-menu {
        width: 77%;
        margin-left: 0;
        height: 40px;
    }

    .scroll-menu li {
        width: 20%;
        padding-left: 1.5%;
    }

    .scroll-arrow {
        width: 10%;
        height: 40px;
    }

    .scroll-arrow li {
        width: 50%;
        height: 40px;
    }

    .cont-scroll-line {
        height: 425px;
        padding-top: 3%;
        padding-left: 3%;
    }

    .product-sm {
        display: none;
    }

    .prod-scroll {
        width: 27%;
        margin-left: 2.5%;
        margin-right: 2%;
        height: 382px;
    }

    .prod-scroll:hover {
        transform: scale(1.04);
    }

    .prod-scroll a img {
        width: 100%;
    }

    .sales-logo img {
        width: 20%;
        margin-left: 3%;
    }

    .hr-line1 {
        margin-top: 9%;
    }

    .hr-line2 {
        margin-top: 9%;
    }

    .prod-sale {
        width: 27%;
        margin-left: 2.5%;
        margin-right: 2%;
        height: 382px;
    }

    .sales-items {
        width: 100%;
    }

    .fb {
        width: 20%;
        font-size: 0.8em;
    }

    .brand-line1 {
        width: 40%;
    }

    .brand-line2 {
        width: 40%;
    }

    .name-br {
        margin-left: 5%;
    }

    .name-br img {
        width: 15%;
    }

    .about-lookshop span {
        font-size: 1.5em;
    }

    .about-lookshop p {
        font-size: 0.9em;
    }

    .carts {
        width: 80%;
        height: 50px;
    }

    .carts span {
        font-size: 0.8em;
    }

    .carts img {
        width: 83%;
    }

    .footer-content {
        height: 375px;
        position: relative;
    }

    .foot-cust {
        width: 20%;
    }

    .foot-info {
        width: 13%;
    }

    .foot-camp {
        width: 20%;
        clear: left;
        margin-left: 8.5%;
    }

    .foot-store {
        width: 15%;
    }

    .foot-social {
        width: 25%;
        position: absolute;
        top: 1%;
        left: 50%;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }

    .foot-social i {
        padding-top: 25%;
    }

    .foot-img {
        position: absolute;
        top: 6%;
        right: 1%;
        margin-right: 3%;
    }

    .footer-line {
        height: 70px;
    }

    .footer-left-menu {
        width: 70%;
        font-size: 0.9em;

    }

    .foot-l-menu {
        height: 70px;
        margin-left: 2%;
    }

    .footer-line li {
        width: 20%;
        padding-left: 1%;
        height: 10px;
    }

    .foot-right {
        margin-right: 5%;
        font-size: 0.9em;
    }

}
@media screen and (max-width: 640px) {
    .content {
        width: 100%;
    }

    .header-line {
        background: #fafafa;
        height: 140px;
    }

    .custom-care {
        color: #838383;
        font-size: 2em;
        background: #fafafa;
        text-align: center;
        width: 100%;
        margin: 0;
        padding-top: 0;
        height: 60px;
    }

    .custom-care p {
        font-size: 0.8em;
    }

    .account {
        float: left;
        width: 100%;
        height: 70px;
    }

    .logo-line {
        height: 350px;
    }

    .logo {
        width: 76%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .header-menu {
        display: none;
    }

    .header-menu-1 {
        width: 100%;
        height: 70px;
        font-size: 2.3em;
    }

    .acc-men {
        width: 100%;
        height: 70px;
    }

    .menu-li {
        margin: 0;
        width: 28%;
    }

    .acc-men li {
        height: 70px;
    }

    .my-acc {
        width: 57%;
        text-align: center;
        font-size: 1.7em;
    }

    .my-acc a {
        font-size: 1.3em;
        padding-top: 0;
    }

    .my-acc span {
        padding-top: 5%;
    }

    .my-acc i {
        margin-left: 0;
        padding-top: 4.5%;
    }

    .my-search {
        width: 14%;
        padding-top: 0;
        text-align: center;
        font-size: 1.6em;
    }

    .my-search i {
        padding-top: 14%;
        font-size: 1.8em;
        line-height: 1.2em;
    }

    .logo {
        padding-top: 5%;
    }

    .logo-big {
        display: none;
    }

    .logo-sm {
        display: inherit;
        width: 85%;
    }



    .your-cart {
        display: none;
    }

    .delivery_block_2sm {
        display: inherit;
    }

    .delivery_block_2sm {
        margin-top: 5%;
        overflow: hidden;
        width: 98%;
        color: #949393;
        font-size: 2em;
        height: 70px;
        border: 1px solid #dcdcdc;
        cursor: pointer;
    }

    .delivery_block_2sm img {
        width: 10%;
        margin-top: 1.5%;
        float: left;
        margin-left: 2%;
    }

    .delivery_block_2sm a {
        text-decoration: none;
        display: block;
        float: right;
        margin-right: 3%;
        color: #949393;
        line-height: 2.3em;
    }

    .delivery_block_2sm a:hover {
        text-decoration: underline;
    }

    .header-menu-sm {
        display: inherit;
    }

    .header-menu-sm {
        margin-top: 5%;
        overflow: hidden;
        width: 98%;
        font-size: 2em;
        height: 70px;
        border: 1px solid #fd926d;
        background: #fd926d;
        cursor: pointer;
        color: white;
        margin-left: 1%;
    }

    .header-menu-sm p {
        line-height: 1.5em;
        float: left;
        padding-left: 2%;
    }

    .header-menu-sm i {
        font-size: 1.3em;
        margin-right: 3%;
        float: right;
        line-height: 1.2em;
    }

    .header-slider {
        display: none;
    }

    .content-line {
        display: none;
    }

    .email-sm {
        display: inherit;
        width: 100%;
        height: 80px;
        font-size: 2em;
        margin-top: 6%;
    }

    .email-sm form {
        width: 100%;
        height: 80px;
        margin-left: 1%;
    }
    .email-sm button{
        font-size: 0.7em;
        height: 58px;
        margin-left: -1.8%;
    }
    .input-form {
        width: 85.5%;
        height: 59px;
        font-size: 0.7em;
        border: 1px solid #ededed;
        background: #ededed;
    }
    .content-img-info{
        display: none;
    }
    .find-us-sm{
        display: inherit;
        height: 60px;
        width: 55%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .find-us-sm p{
        font-size: 1em;
        display: block;
        float: left;
        padding-top: 5.5%;
        color: #949393;
        padding-right: 5%;
    }
    .icons{
        width: 47px;
        height: 50px;

    }
    .icons i{
        padding-top: 32%;
        font-size: 1.3em;
    }
    .not-for640{
        display: none;
    }
    .content-scroll{
        background: #fd926d;
        height: 650px;
    }
    .cont-scroll-line{
        height: 515px;
    }
    .scroll-arrow{
        display: none;
    }
    .scroll-header{
        height: 60px;
    }
    .scroll-menu{
        width: 100%;
        height: 60px;
        font-size: 1.4em;
        background: #f4845d;
    }
    .scroll-menu li i{
        display: block;
        float: right;
        padding-right: 3%;
        font-size: 1.4em;
        color: white;
        line-height: 1.5em;
    }
    .scroll-menu li{
        width: 100%;
        text-align: left;
        padding-left: 0;
        height: 60px;

    }
    .scroll-menu li a{
        width: 100%;
        display: block;
        color: white;
        padding-left: 3%;
        padding-top: 0.2%;
    }
    .prod-scroll{
        width: 44%;
        height: 470px;
    }
    .product-sm640{
        display: none;
    }
    .product-sm {
        display: none;
    }
    .buy-now{
        width: 68%;
        height: 40px;
        font-size: 0.9em;
    }
    .prod-scroll{
        width: 44%;
    }
    .sales-items{
        margin-left: 2%;
        height: 480px;
    }
    .prod-sale{
        width: 44%;
        height: 476px;
    }
    .load-more{
        display: inherit;
        background: black;
        width: 40%;
        height: 55px;
        transition: all 0.3s ease;
        margin-bottom: 3%;
    }
    .load-more:hover{
        background: #525252;
    }
    .load-more a{
        display: block;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        text-decoration: none;
        line-height: 3em;
        font-size: 1.2em;
    }
    .brands, .about-lookshop, .carts-line, .footer-content, .footer-left-menu{
        display: none;
    }
    .footer-line{
        height: 60px;
    }
    .foot-menu-640{
        display: inherit;
        width: 10%;
        float: left;
        font-size: 2.8em;
        text-align: center;
        cursor: pointer;
        line-height: 1.9em;
    }
    .foot-right{
        font-size: 1.3em;
    }
}